body 
{
	font: normal small Arial, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
}
div
{
color: Maroon;
font-size:20;
}
img
{
	float:left;
	margin: 16px 24px 16px 16px;
}
h1
{
	font-size: 32pt;
	background: maroon;
	color: White;
	padding: 16px 0 16px 0;
}
h2
{
	color: Maroon;
}
a, a:visited
{
	color: Maroon;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
table
{
	border-collapse:collapse;
}
td
{
	padding-left: 16px;
    padding: 5px;
    vertical-align: top;
}
tr
{
	padding-left: 16px;
    padding: 5px;
    vertical-align: top;
}

table.wide-table { width:100%; } 

#list table {
        border-collapse: collapse;
}

#list table tr td {
        padding: 5px;
        vertical-align: top;
}

#list .list-image {
  width:        60px;
  height:       70px;
}

#list .list-description {
  width:        60%;
}

#list .list-description dl {
        margin: 0;
}

#list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#list .list-description dd {
        margin: 0;
}

#list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#list .list-line-even {
  background:   #F2E6E6;
}

#list .list-line-odd {
  background:   #993333;
  color:	white;
}
